.login {
    font-size: 30px;
    padding: 20px;
    border: 3px solid seagreen;
    border-radius: 5px;
    cursor: pointer;
    
}
.login:hover {
    background-color: aqua;
    padding: 30px;
    box-shadow: 5px 5px 16px;
}